<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nigger penis</title>
</head>
    <style>
        body{
            background-color: #313131;
             
        }
        .team_1{
            color: white;
        }
        .team_2{
            color: white;
        }
        h1{
            color: white;
            font-size: 400%;
        }
        h4{
            font-size: 200%;
        }
    </style>
    <body>
        <div class="team_1">
            <h1>team 1: erasimuth</h1>
            <h4>
            ditrames: {{pos["ditrames"]["pos"]}} : time : {{pos["ditrames"]["timeread"]}}<br>
            Jellyonion64: {{pos["Jellyonion64"]["pos"]}} : time : {{pos["Jellyonion64"]["timeread"]}}
            </h4>
        </div>
        <div class="team_2">
            <h1>team 2: looses</h1>
            <h4>
            Stickman_lord: {{pos["Stickman_Lord"]["pos"]}} : time : {{pos["Stickman_Lord"]["timeread"]}}
            <h4>
        </div>
        <h1>
            time till coords update: {{time_left}}
        </h1>
    </body>
</html>